# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Временные файлы
*.tmp
*.temp
*.bak
*.swp

# Логи
*.log

# SQL дампы и временные БД
*.sqlite
*.db

# Файлы IDE
.vscode/
.idea/

# Кэш
.cache/

# Office временные файлы
~$*

# Архивы
*.zip
*.rar
